.footer-container {
    background: linear-gradient(to right, #4a90e2, #63b3ed);
    width: 100%;
    color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-content p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
