/* styleHeader.css */

.custom-navbar {
  background-color: white;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.titulo-gst {
  font-size: 32px;
  color: #4AC6D1;
  font-weight: bold;
}

.botones button {
  background: none;
  border: none;
  margin-left: 30px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.botones button:hover {
  color: #4AC6D1;
}

.botones {
  display: flex;
  align-items: center;
}