.home-background {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.custom-card {
  max-width: 800px;
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  border: none;
}
  

.custom-header {
  background-color: #4a90e2;
  padding: 20px;
  border-bottom: none;
}
  

.custom-text {
  font-size: 1.2rem;
  color: #333333;
  line-height: 1.6;
  padding: 20px;
}  