.divPadre{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 20px;
}

.footer-item {
    margin-bottom: 10px;
  }